{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"overrides": [
		{
			"files": ".github/**/*",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
